<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Karaoke na śląsku - tabelka</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
<style>
.tableFixHead          { overflow: auto; height: 100px; }
.tableFixHead thead th { position: sticky; top: 0; z-index: 1; }
</style>
</head>
<body>
    <div class="container">
        <table class="table table-stripped table-bordered table-sm table-hover tableFixHead">
            <caption style="caption-side: top; text-align: center; font-weight: bold;">Lista karaoke na Śląsku</caption>
            <thead>
                <tr>
                    <th>Miasto</th>
                    <th>Miejsce</th>
                    <th>Prowadzący</th>
                    <th>Pn</th>
                    <th>Wt</th>
                    <th>Śr</th>
                    <th>Czw</th>
                    <th>Pt</th>
                    <th>Sb</th>
                    <th>Nd</th>
                </tr>
            </thead>
            <tbody>
                {% for name, value_dict in data.items() %}
                <tr>
                    <td scope="row">{{ value_dict['Miasto'] }}</td>
                    <td><a href="{{ value_dict['url'] }}">{{ name }}</a></td>
                    <td>{{ value_dict.get('Prowadzący', '???') }}</td>
                    {% if 'Cyklicznie' not in value_dict %}
                    <td colspan="7" align="center">{{ value_dict['Występowanie'] }}<br>{{ value_dict['Opis'] }}</td>
                    {% else %}
		      {% for day in ['Pn', 'Wt', 'Śr', 'Czw', 'Pt', 'Sb', 'Nd'] %}
		    <td align="center">{{ value_dict['Cyklicznie'].get(day, '')  }}</td>
		      {% endfor %}
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    <p><a href="https://karaoke.nowak.io/">Karaoke on śląsku - tabelka</a>
    <p><a href="http://facebook.com/karaokenaslasku/">Komentowanie na FB</a>
    <p><a href="https://github.com/lukenowak/karaoke/">Kod</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"></script>
</body>
</html>
